.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  color: white;
  background-color: var(--primary-color-dark);
}
.flex-center{
  display: flex;
  align-items: center;
}
.flex-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-justify-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.input{
  padding: 1.2rem 2rem;
  box-sizing: border-box;
  width: 100%;
  min-width: 10rem;
  margin-bottom: 20%;
  font-size: 1.6rem;
  border-radius: 3px;
  color: rgba(15,15,15,1);
}