body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  --navbar-height: 4rem;
  --footer-height: 2.5rem;
  --primary-color-dark: rgba(20,20,20,1);
  letter-spacing: 4px;
  overflow: auto;
}
::-webkit-scrollbar{
  display: none;
}
p{
  line-height: 32px;
}
a{
  text-decoration: none;
}