.navbar{
    height: var(--navbar-height);
    justify-content: right;
    gap: 1rem;
    padding: 0 2rem;
    box-sizing: border-box;
}
.navbar ul{
    display: flex;
    list-style: none;
    gap: 5rem;
}
.navbar ul li {
    margin: 0;
    padding: 0;
    cursor: pointer;
    user-select: none;
}
.home{
    height: calc(100vh - (var(--navbar-height) + var(--footer-height)));
    padding: 0 2rem;
    box-sizing: border-box;
    flex-wrap: wrap-reverse;
}
.home .hero{
    width: 70%;
    justify-content: left;
}
.home .search{
    width: 30%;
}
.footer{
    height: var(--footer-height);
}